<h1>Blogpress</h1>

<p id="notice"><%= notice %></p>

<% @posts.each do |p| %>
<div class="post">
	<strong>Posted by <%= p.author %> on <%= p.created_at %></strong>
	<p><%= truncate(p.content, :length => 1000) %></p>
	<%= link_to "Full Post", post_path(p) %> | <%= pluralize(p.comments.count, "comment") %> | <%= p.tags %>
</div>
<% end %>

<%= link_to "Create new post", new_post_path %>